<!doctype html>
<html lang="en">

  <head>
    {% include "head.njk" %}
  </head>

  <body class="bg-light">
    {# {% include "navbar.njk" %} #}
    <main class="container py-5">
  <h1>{{ title }}</h1>

    {{ content | safe }}
    </main>
    {# {% include "footer.njk" %} #}
    {% include "script.njk" %}
  </body>

</html>
